<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des Annonces</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    
    <div class="container">
        <h1>Liste des Annonces</h1>
        <a href="/admin/annonces/ajouter" class="btn btn-primary">Ajouter Annonce</a>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="annonce : ${annonces}">
                    <td th:text="${annonce.id}"></td>
                    <td th:text="${annonce.titre}"></td>
                    <td th:text="${annonce.description}"></td>
                    <td th:text="${annonce.prix}"></td>
                    <td>
                        <a th:href="@{/admin/annonces/modifier/{id}(id=${annonce.id})}" class="btn btn-warning">Modifier</a>
                        <a th:href="@{/admin/annonces/supprimer/{id}(id=${annonce.id})}" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
